fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
pypdf2
pymupdf
pytesseract
pillow

pydantic
langgraph
langchain-google-genai
python-dotenv
python-jose[cryptography]
python-multipart
slowapi

cryptography
